  <div class="page-body">
        <div class="wrapper">
        <div class="section-title">
                   <div class="section-inner">
            <h1>Mobile</h1>
            <div class="seperator size-small"><span></span></div>
          
        </div>
        </div>
  </div>
          <!-- FACTS -->
				<div id="facts" class="horizontalsection text-light parallax-section">
					<div class="horizontalinner wrapper">
						<h3 class="align-center">We are currently in development, but this will enhance your creative experience.</h3>	
						<div class="spacer spacer-small"></div>
						<div class="column-section clearfix align-center">
							<div class="column one-half">
						     <a href=""> <%= image_tag("appstore.png", :alt => "Launcherr App") %></a>	
                             </div>
                         
                          <div class="column one-half last-col">
                            <a href=""> <%= image_tag("googleplay.png", :alt => "Launcherr App") %></a>	
                          </div>
                        </div> <!-- END .column-section --> 
						
                    </div>  
                </div> <!-- END #facts-->
				<!-- FACTS -->
        