<!-- PAGEBODY -->
  <div class="page-body">
        <div class="wrapper">
        <div class="section-title">
                   <div class="section-inner">
            <h1>About</h1>
            <div class="seperator size-small"><span></span></div>
            <h4 class="subtitle">We are a group of people who simply believe ideas can change the world.</h4>
            <p> <center><i class="fa fa-map-marker"> New York City</center></i>
          <br><br>

          
          </div></div></div>