  <!-- TEAM --> 
    <section id="team">
            <div class="section-inner">
                <div class="wrapper">  
                        
              <div class="section-title">
                  <h2>Meet the <span class="xone">launcherr</span> Team</h2>
                  <div class="seperator size-small"><span></span></div>
                  <h4 class="subtitle">We just want to build cool things with cool people.</h4>
                </div>
                
              <div class="column-section clearfix">
                  <div class="column one-third align-center sr-animation sr-animation-frombottom" data-delay="400">
                    <div class="team-pic">
                        <div class="imgoverlay text-light">
                <%= image_tag("jakebaird.jpg", :size => "500x550", :alt => "Jake Baird") %>
                <div class="overlay"><span class="overlaycolor"></span><div class="overlayinfo">
                <ul class="socialmedia-widget text-light">
                  <li class="facebook"><a href="#">Facebook</a></li>
                  <li class="xing"><a href="#">Tweet</a></li>
                  <li class="linkedin"><a href="http://linkedin.com/in/jakebaird">Linked in</a></li>
                              </ul>
                            </div></div>
                         </div>
                      </div>
                      <h4 class="team-name"><strong>Jake Baird</strong></h4>
                      <h6 class="team-role">Co-Founder</h6>
                      <div class="seperator size-mini height-small"><span></span></div> 
                      <p class="team-info">
                      Jake loves working on tech or adventure focused projects. Jake is an avid lover of creativity.
                    </p>
                  </div> 
                  <div class="column one-third align-center sr-animation sr-animation-frombottom" data-delay="800">
                    <div class="team-pic">
                        <div class="imgoverlay text-light">
                 <%= image_tag("jamesrobertson.jpg", :size => "500x550", :alt => "James Robertson") %>
                <div class="overlay"><span class="overlaycolor"></span><div class="overlayinfo">
                <ul class="socialmedia-widget text-light">
                  <li class="twitter"><a href="#">Facebook</a></li>
                  <li class="googleplus"><a href="#">Tweet</a></li>
                              </ul>
                            </div></div>
                         </div>
                      </div>
                      <h4 class="team-name"><strong>James Robertson</strong></h4>
                      <h6 class="team-role">Co-Founder</h6>
                      <div class="seperator size-mini height-small"><span></span></div> 
                      <p class="team-info">
                      James likes creating projects that are business related. James loves startups and tech related projects 
                    </p>
                  </div>
                  <div class="column one-third last-col align-center sr-animation sr-animation-frombottom" data-delay="1200">
                    <div class="team-pic">
                        <div class="imgoverlay text-light">
                <%= image_tag("katiebaird.jpg", :size => "500x550", :alt => "Katie Baird") %>
                <div class="overlay"><span class="overlaycolor"></span><div class="overlayinfo">
                <ul class="socialmedia-widget text-light">
                  <li class="facebook"><a href="#">Facebook</a></li>
                  <li class="dropbox"><a href="#">Facebook</a></li>
                  <li class="flickr"><a href="#">Tweet</a></li>
                  <li class="vimeo"><a href="#">Linked in</a></li>
                              </ul>
                            </div></div>
                         </div>
                      </div>
                      <h4 class="team-name"><strong> Katie Baird</strong></h4>
                      <h6 class="team-role">PR & Communications Manager</h6>
                      <div class="seperator size-mini height-small"><span></span></div> 
                      <p class="team-info">
                     Katie is a lover of film and photography related projects. 
                  </div>    
            </div> <!-- END .column-section -->
              </div> <!-- END .wrapper -->
        
        <div class="spacer spacer-big"></div>
        
       
                
          </div> <!-- END .section-inner-->
      </section>
    <!-- TEAM -->