  <div class="page-body">
        <div class="wrapper">
        <div class="section-title">
                   <div class="section-inner">
            <h1>Preparing Your Project</h1>
            <div class="seperator size-small"><span></span></div>
           <h4 class="subtitle">a 5 minute guide on how to plan your idea, build a team and launch something you believe in.</h4>
        </div>
        </div>
  </div>
  <div class="spacer spacer-big"></div>
          <!-- Step One -->
				<div id="facts" class="horizontalsection text-light parallax-section">
					<div class="horizontalinner wrapper">
              <h1 class="align-center"><font color="ffffff"> Step 1.</h1> </font>
						  <h3 class="align-center">Your Idea</h3>	
	            <div class="column-section clearfix align-center">
							<div>  
          </div> 
        </div>
        </div>
        </div>  
        <section id="about">
            <div class="section-inner">
            
            <div class="wrapper">
                
              <div class="section-title">
                  <h4 class="subtitle">Your project can be anything creative that you want to build with others</h4>
                </div>
                
              <div class="column-section clearfix">
                  <div class="column one-third align-center sr-animation sr-animation-zoomin" data-delay="200">
                    <i class="fa fa-cogs fa-4x xone"></i>
                      <h4><strong>What is your project?</strong></h4>
                      <p>
                        We believe in doing what you love. Creating a project you love is the most rewarding type of project. 
                    </p>
                  </div>
                  <div class="column one-third align-center sr-animation sr-animation-zoomin" data-delay="400">
                    <i class="fa fa-eye fa-4x xone"></i>
                      <h4><strong>Why will people join?</strong></h4>
                      <p>
                        How will you compensate those who join your project? Some ideas for compensation are: Rewards, Recognition, Equity & Profit Share.
                    </p>
                  </div>
                  <div class="column one-third last-col align-center sr-animation sr-animation-zoomin" data-delay="600">
                    <i class="fa fa-rocket fa-4x xone"></i>
                      <h4><strong>Where will you conduct it?</strong></h4>
                      <p>
                        Is your project an online project where people contribute digitally? Or one where people can physically meetup?
                    </p>
                  </div>
        </div> 
                
      </div> 
            
      <div class="spacer spacer-big"></div>
           
                <!-- END STEP One-->
	

  <!-- Step TWO -->
        <div id="facts" class="horizontalsection text-light parallax-section">
          <div class="horizontalinner wrapper">
             <h1 class="align-center"><font color="ffffff"> Step 2</h1> </font>
              <h3 class="align-center">Uploading Your Project</h3> 
              <div class="column-section clearfix align-center">
              <div>  
          </div> 
        </div>
        </div>
        </div>  
        <section id="about">
            <div class="section-inner">
            
            <div class="wrapper">
                
              <div class="section-title">
                  <h4 class="subtitle">We are a small creative team,<br>trying to enrich the lives of others</h4>
                </div>
                
              <div class="column-section clearfix">
                  <div class="column one-third align-center sr-animation sr-animation-zoomin" data-delay="200">
                    <i class="fa fa-cogs fa-4x xone"></i>
                      <h4><strong>Creating a Pitch</strong></h4>
                      <p>
                        Nullam vulputate nibh at nisi, nec nunc iaculis. Nulla porttitor neque vitae ligula luctus imperdiet molestie at dui.
                    </p>
                  </div>
                  <div class="column one-third align-center sr-animation sr-animation-zoomin" data-delay="400">
                    <i class="fa fa-eye fa-4x xone"></i>
                      <h4><strong>Creating Designs</strong></h4>
                      <p>
                        Nullam vulputate nibh at nisi, nec nunc iaculis. Nulla porttitor neque vitae ligula luctus imperdiet molestie at dui.
                    </p>
                  </div>
                  <div class="column one-third last-col align-center sr-animation sr-animation-zoomin" data-delay="600">
                    <i class="fa fa-rocket fa-4x xone"></i>
                      <h4><strong>Creating Videos</strong></h4>
                      <p>
                        Nullam vulputate nibh at nisi, nec nunc iaculis. Nulla porttitor neque vitae ligula luctus imperdiet molestie at dui.
                    </p>
                  </div>
        </div> 
                
      </div> 
            
      <div class="spacer spacer-big"></div>
           
                <!-- END STEP TWO-->

                 <!-- Step THREE -->
        <div id="facts" class="horizontalsection text-light parallax-section">
          <div class="horizontalinner wrapper">
              <h1 class="align-center"><font color="ffffff"> Step 3</h1> </font>
              <h3 class="align-center">Finding Your Team</h3> 
              <div class="column-section clearfix align-center">
              <div>  
          </div> 
        </div>
        </div>
        </div>  
        <section id="about">
            <div class="section-inner">
            
            <div class="wrapper">
                
              <div class="section-title">
                  
                  <h4 class="subtitle">It's important that you do whatever you can to give your project some traction.<br> Here are a few ways you can do that. </h4>
                </div>
                
              <div class="column-section clearfix">
                  <div class="column one-third align-center sr-animation sr-animation-zoomin" data-delay="200">
                    <i class="fa fa-cogs fa-4x xone"></i>
                      <h4><strong>Sharing Your Project</strong></h4>
                      <p>
                        Most of the time, the people who join your projects will be friends of friends. You should share your project on your social networks and Ask your friends to help too.
                    </p>
                  </div>
                  <div class="column one-third align-center sr-animation sr-animation-zoomin" data-delay="400">
                    <i class="fa fa-eye fa-4x xone"></i>
                      <h4><strong>Advertising</strong></h4>
                      <p>
                        If your looking for people who are hard to find, setting up ads are a great way to target people to join your team, depending on your budget you can get started for only a few bucks.
                    </p>
                  </div>
                  <div class="column one-third last-col align-center sr-animation sr-animation-zoomin" data-delay="600">
                    <i class="fa fa-rocket fa-4x xone"></i>
                      <h4><strong>Shoutouts.</strong></h4>
                      <p>
                       Yep, we just went there. Find bloggers and people who share a the same passions as you, ask them if they wouldn't mind writing about your launcherr campaign.
                    </p>
                  </div>
        </div> 
                
      </div> 
            
      <div class="spacer spacer-big"></div>
           
                <!-- END STEP THREE-->
        
        <!-- Step FOUR -->
        <div id="facts" class="horizontalsection text-light parallax-section">
          <div class="horizontalinner wrapper">
              <h1 class="align-center"><font color="ffffff"> Step 4</h1> </font>
              <h3 class="align-center">Building Your Project</h3> 
              <div class="column-section clearfix align-center">
              <div>  
          </div> 
        </div>
        </div>
        </div>  
        <section id="about">
            <div class="section-inner">
            
            <div class="wrapper">
                
              <div class="section-title">
                  
                  <h4 class="subtitle">We are a small creative team,<br>trying to enrich the lives of others</h4>
                </div>
                
              <div class="column-section clearfix">
                  <div class="column one-third align-center sr-animation sr-animation-zoomin" data-delay="200">
                    <i class="fa fa-cogs fa-4x xone"></i>
                      <h4><strong>Team Work</strong></h4>
                      <p>
                        Nullam vulputate nibh at nisi, nec nunc iaculis. Nulla porttitor neque vitae ligula luctus imperdiet molestie at dui.
                    </p>
                  </div>
                  <div class="column one-third align-center sr-animation sr-animation-zoomin" data-delay="400">
                    <i class="fa fa-eye fa-4x xone"></i>
                      <h4><strong>Retina Ready</strong></h4>
                      <p>
                        Nullam vulputate nibh at nisi, nec nunc iaculis. Nulla porttitor neque vitae ligula luctus imperdiet molestie at dui.
                    </p>
                  </div>
                  <div class="column one-third last-col align-center sr-animation sr-animation-zoomin" data-delay="600">
                    <i class="fa fa-rocket fa-4x xone"></i>
                      <h4><strong>Well Documented</strong></h4>
                      <p>
                        Nullam vulputate nibh at nisi, nec nunc iaculis. Nulla porttitor neque vitae ligula luctus imperdiet molestie at dui.
                    </p>
                  </div>
        </div> 
                
      </div> 
            
      <div class="spacer spacer-big"></div>
           
                <!-- END STEP FOUR-->

                <!-- Step FIVE -->
        <div id="facts" class="horizontalsection text-light parallax-section">
          <div class="horizontalinner wrapper">
              <h1 class="align-center"><font color="ffffff"> Step 5</h1> </font>
              <h3 class="align-center">Launching Your Product</h3> 
              <div class="column-section clearfix align-center">
              <div>  
          </div> 
        </div>
        </div>
        </div>  
        <section id="about">
            <div class="section-inner">
            
            <div class="wrapper">
                
              <div class="section-title">
                  
                  <h4 class="subtitle">We are a small creative team,<br>trying to enrich the lives of others</h4>
                </div>
                
              <div class="column-section clearfix">
                  <div class="column one-third align-center sr-animation sr-animation-zoomin" data-delay="200">
                    <i class="fa fa-cogs fa-4x xone"></i>
                      <h4><strong>Great Features</strong></h4>
                      <p>
                        Nullam vulputate nibh at nisi, nec nunc iaculis. Nulla porttitor neque vitae ligula luctus imperdiet molestie at dui.
                    </p>
                  </div>
                  <div class="column one-third align-center sr-animation sr-animation-zoomin" data-delay="400">
                    <i class="fa fa-eye fa-4x xone"></i>
                      <h4><strong>Retina Ready</strong></h4>
                      <p>
                        Nullam vulputate nibh at nisi, nec nunc iaculis. Nulla porttitor neque vitae ligula luctus imperdiet molestie at dui.
                    </p>
                  </div>
                  <div class="column one-third last-col align-center sr-animation sr-animation-zoomin" data-delay="600">
                    <i class="fa fa-rocket fa-4x xone"></i>
                      <h4><strong>Tell us the news</strong></h4>
                      <p>
                        Send us an email once you've completed your project, so we can share it amongst our social network!
                    </p>
                  </div>
        </div> 
                
      </div> 
            
      <div class="spacer spacer-big"></div>
           
                <!-- END STEP FIVE-->
               <center> <a id="backtotop" href="#" class="sr-button sr-buttonicon small-iconbutton"><i class="fa fa-angle-up"></i></a> </center> <div class="spacer spacer-big"></div>